extends: default

rules:
  line-length: disable
  trailing-spaces:
    level: warning
  comments:
    level: warning
    min-spaces-from-content: 1
    require-starting-space: false
  document-start: disable
  indentation:
    spaces: 2
  empty-values: disable
  colons: disable
  hyphens: disable
  key-duplicates: disable
